body{
    width: auto;
    height: auto;
    background-color: rgb(85, 85, 163);
}

h1 {
    font-family: 'Arial Narrow Bold', sans-serif;
}

.explica {

    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
}

.container{


    padding-left: 500px;
}

.explica1 {

    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.span1 {
    background: rgb(27, 76, 141);
    
    
}

span{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

button {
    padding: 12px;
    background: darkcyan;
    border-radius: 15px;
    border: 0px;
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    


    
}

#velocidade {
    padding: 11px;
    border: 1px solid blue;
    background: rgba(245, 245, 245, 0.883);]
    font-size: 12px;
    
}

